{% extends "layout.html" %}
{% block title %}Home - Computational Toolkit{% endblock %}
{% block content %}
    <h1>Welcome to the Computational Toolkit!</h1>
    <p>This is a web application built with Flask to perform various mathematical and data analysis tasks.</p>
    <p>Please select a tool from the navigation bar above to get started.</p>
    <ul>
        <li><b>Matrix Calculator:</b> Calculate the determinant and transpose of a square matrix.</li>
        <li><b>Data Plotter:</b> Visualize two-column data as a line plot.</li>
    </ul>
{% endblock %}